body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
    background-color: #303030;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 30px 0;
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
    color: #ffffff;
}

/* Nav */
.nav {
    font-size: 12px;
    margin: auto 0;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    margin: 20px;
    position: relative;

    color: #ffffff;
    vertical-align: top;
}

.nav__link:after {
    content: "";
    display: block;

    width: 100%;
    height: 5px;
    opacity: 0;

    position: absolute;
    background-color: #7b6c63;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}
.nav__link:hover:after {
    opacity: 1;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 769px;
    background: url(../img/bg_intro.png) top no-repeat;
}

.intro__suptitle {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2.4px;
}

.intro__title {
    margin-top: 0;
    color: #ffffff;
    font-size: 66px;
    font-weight: 400;
    font-family: 'Raleway', semi-bold;
    text-transform: uppercase;
    line-height: 1;
}
.intro__title span {
    color: #7b6c63;
    font-weight: 600;
}

.intro__btn {
    padding: 20px 50px;
    background-color: #ffffff1f;
    border-radius: 5px 5px;

    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.6px;

}


