body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #303030;
}

/* Container */
.container {
    width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */
.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 30px 0;
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
    color: #ffffff;
}

.nav {
    font-size: 12px;
    margin: auto 0;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    margin: 20px;
    position: relative;

    color: #ffffff;
    vertical-align: top;
}

.nav__link:after {
    content: "";
    display: block;

    width: 100%;
    height: 5px;
    opacity: 0;

    position: absolute;
    background-color: #7b6c63;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}
.nav__link:hover:after {
    opacity: 1;
}

