body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
    letter-spacing: 0.8px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
    background-color: #303030;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 30px 0;
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
    color: #ffffff;
}

/* Nav */
.nav {
    font-size: 12px;
    margin: auto 0;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    margin: 20px;
    position: relative;

    color: #ffffff;
    vertical-align: top;
}

.nav__link:after {
    content: "";
    display: block;

    width: 100%;
    height: 5px;
    opacity: 0;

    position: absolute;
    background-color: #7b6c63;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}
.nav__link:hover:after {
    opacity: 1;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 769px;
    background: url("../img/bg_intro.png") top no-repeat;
}

.intro__suptitle {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2.4px;
}

.intro__title {
    margin: 25px 0 60px 0;
    color: #ffffff;
    font-size: 66px;
    font-weight: 400;
    font-family: 'Raleway', semi-bold;
    text-transform: uppercase;
    line-height: 1;
}
.intro__title span {
    color: #7b6c63;
    font-weight: 600;
}

.intro__btn {
    padding: 20px 50px;
    background-color: #ffffff1f;
    border-radius: 5px 5px;

    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    transition: background-color .2s linear, color .2s linear;
}

.intro__btn:hover {
    background-color: #ffffffc7;
    color: #333;
}

/* Section */
.section__header {
    margin: 90px auto;
    max-width: 600px;
    text-align: center;
}

.section__title {
    font-size: 40px;
    font-family: 'Raleway', semi-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7b6c63;
}

.section__title:after {
    content: "";
    display: block;
    width: 76px;
    height: 6px;
    margin: 50px auto;

    background-color: #7b6c63;
}

.section__text {
    font-size: 18px;
    letter-spacing: 0.9px;

    color: #212121;
}

.section--skills {
    position: relative;
    margin: 75px 0;
    padding: 90px 0;
    background: #000000 url("../img/bg_skills.png") center no-repeat;
    z-index: 1;

    background-size: cover;
}

.section--skills:before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #000000;
    opacity: 0.7;
}

.weare {
    display: flex;
    padding-left: 20%;
    width: 100%;
}

.weare__description {
    margin: auto 0;
    width: 40%;
}

.weare__image {
    width: 60%;
}

.weare__title {
    margin-bottom: 25px;
    color: #7b6c63;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.weare__text {
    color: #000000;
    letter-spacing: 0.8px;
    margin-bottom: 35px;
}

.weare__button {
    padding: 13px 20px;
    border: 2px solid #000000;
    border-radius: 3px 3px;

    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: #000000;

    transition: background-color .2s linear, color .2s linear;
}

.weare__button:hover {
    background-color: #000000c7;
    color: #fff;
}

/* Services */
.services__header {
    margin: 90px auto;
    max-width: 990px;
    text-align: center;
}

.services__title {
    margin-bottom: 25px;
    color: #7b6c63;
    font-family: 'Raleway', semi-bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.services {
    display: flex;
}

.services__item {
    text-align: center;
}

.services__name {
    margin: 15px auto;
}

.services__name {
    color: #363636;
    font-size: 18px;
    line-height: 29.96px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.services__description {
    color: #949494;
    line-height: 23.95px;
}

/* Skills */
.skills__title {
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', semi-bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__item {
    text-align: center;
}

.skills__circle {
    margin: 40px auto;
    padding: 65px;
    border: 4px solid #ffffff;
    border-top: 0;
    border-left: 0;
    border-radius: 50%;

    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.8px;
}

.skills__name {
    color: #ffffff;
    letter-spacing: 0.8px;
}










